:root {
    /*Initialize CSS-Variables*/
    --width: 100%;
    --max-width: 1000px;
    --spacing: 1rem;
    --sidebar-width: 300px;

    --border-radius: 16px;
    --font-size: 14px;

    --text-color-normal: hsl(217deg, 77%, 17%);
    --text-color-light: hsl(217deg, 9%, 9%);

    --background-color: hsl(0deg, 0%, 100%);
    --background-color-accent: hsl(0deg, 12%, 95%);

    --color-primary: hsl(213deg, 71%, 59%);
    --color-secondary: var(--background-color-accent);

    --link-color-normal: var(--text-color-normal);
    --link-color-active: var(--text-color-normal);
    --link-color-used: var(--text-color-normal);

    --footer-color: hsl(217deg, 9%, 50%);
    --footer-background-color: hsl(0deg, 0%, 13%);

    --appearance-switch: '\263E';

    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif;
    --color-error: hsl(0deg, 100%, 50%);
}

:root[data-theme='dark'] {
    --text-color-normal: hsl(0deg, 0%, 85%);
    --text-color-light: hsl(0deg, 100%, 85%);

    --background-color: hsl(0deg, 0%, 5%);
    --background-color-accent: hsl(0deg, 12%, 15%);
    /*--background-color-accent: hsl(0deg, 0%, 13%);*/

    --link-color-normal: hsl(237deg, 68%, 70%);
    --link-color-active: hsl(237deg, 68%, 60%);
    --link-color-used: hsl(237deg, 68%, 65%);

    /*--appearance-switch: '\263C';*/
    --appearance-switch: '\2600';
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    color: var(--text-color-normal);
    background-color: var(--background-color);
}

body, article {
    transition: all 500ms;
    transition-delay: 0ms;
}

a {
    color: var(--link-color-used);
}

a:hover, a:focus {
    color: var(--link-color-active);
}

a:visited {
    color: var(--link-color-used);
}

article {
    background-color: var(--background-color-accent);
}

footer {
    font-family: Calibri, sans-serif;
    position: fixed;
    z-index: 100;
    bottom: 0;
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
    /*justify-content: space-evenly;*/
    width: 100vw;
    height: 3rem;
    background-color: var(--footer-background-color);

    gap: 1rem;

}

footer .footerLink {
    color: var(--footer-color);
}

footer .footerLink:last-child {
    margin-right: 2em;
}

footer .appearanceMode {
    margin-right: auto;
    margin-left: 2em;
}

.appearanceMode:after {
    font-size: calc(2 * var(--font-size));
    content: var(--appearance-switch);
    color: white;
}

.chat-overview-wrapper {
    z-index: 1;
    overflow: scroll;
    /*height: 200px;*/
    /*max-height: 200px;*/
    height: 60%;
    max-height: 60%;
    margin-top: calc(var(--spacing) * -1 - var(--border-radius));
    transition: all 250ms ease;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: var(--background-color-accent);
}

.chat-overview-wrapper[data-overview-open="false"] {
    height: 0;
    padding-bottom: var(--spacing);
    opacity: 0;
}

.overview-container {
    padding-top: var(--spacing);
}

.overview-container ul {
    list-style: none;
}

.overview-container ul li {
    position: relative;
    padding-left: var(--spacing);
}

.overview-container ul li .fa-user {
    font-size: 18px;
    position: absolute;
    top: 2px;
    left: calc(var(--spacing) * -1);
}

.overview-container ul li .fa-minus {
    font-size: 18px;
    position: absolute;
    top: 2px;
    right: var(--spacing);
    cursor: pointer;
}

.overview-container hr {
    width: calc(100% - var(--spacing) * 2);
    margin: var(--spacing) auto;
    opacity: 0.5;
}

.overview-container form {
    display: flex;
    align-items: center !important;
    flex-direction: row !important;
    padding-block: 0 !important;
}

.overview-container form label {
    white-space: nowrap;
}

.overview-container form input {
    padding-block: calc(var(--spacing) * 0.5) !important;
}

.overview-container form input[type="submit"] {
    width: fit-content !important;
}

/*TODO style leave chat*/
.overview-container button {
    font-family: var(--font-family);
    font-weight: bolder;
    display: block;
    margin: var(--spacing) auto 0;
    padding-top: var(--spacing);
    cursor: pointer;
    color: red;
    border: none;
    background-color: transparent;
    padding-block: calc(var(--spacing) * 0.5) !important;
}

.dangerousButton {
    padding: var(--spacing);
    color: red;
    border: solid;
    background-color: var(--background-color-accent);
}

.error {
    color: var(--color-error);
    /*padding-left: var(--spacing);*/
}

.missingConnection {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    cursor: not-allowed;
    background-color: hsla(0deg, 100%, 50%, 0.2);
    justify-self: center;
}

.missingConnection div {

    box-sizing: border-box;
    margin: 0 auto;
    padding: var(--spacing);
    cursor: auto;
    border: none;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
    background-color: var(--color-secondary);
    /*padding: 2em;*/
}

.missingConnection div button{
    font-weight: 600;
    border: 2px solid transparent;
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 2);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    margin-block: var(--spacing);

}

.missingConnection div button:hover, .missingConnection div button:focus{
    border-color: var(--text-color-normal);
}