:root {
    --login-hue: calc(155 - 75 + 180);
    --login-color: var(--color-primary);
    --login-accent-color: var(--color-primary);
}

:root[data-theme='dark'] {
    --login-color: hsl(calc(var(--login-hue) - 180), 100%, 50%);
    --login-accent-color: hsl(calc(var(--login-hue) - 180), 100%, 40%);
}


.loginForm {
    position: relative;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-width: 400px;
    margin: calc(50vh - 200px) auto;

    padding: 2em;
    border: none;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
    background-color: var(--color-secondary);
}

.loginForm::before {
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 0;
    height: 0;
    content: '';
    border-width: 0 0 60px 60px;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary) transparent;
}

.loginForm div {
    display: flex;
    justify-content: space-between;
}

.loginForm div a {
}

.loginForm h1 {
    margin-top: 0;
    text-align: center;
}

.loginForm h2 {
    margin: auto 0;
}

.loginForm input::placeholder {
    opacity: 1;
}

.loginForm input:focus::placeholder {
    opacity: 0;
}

.loginForm input {
    width: 100%;
    padding: var(--spacing);
    color: var(--text-color-normal);
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--background-color);
}

.input-label {
    position: relative;
    padding-block: var(--spacing);
}

.input-label[data-label]::after {
    position: absolute;
    top: calc(var(--spacing) + var(--font-size));
    left: var(--spacing);
    visibility: hidden;
    content: attr(data-label);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.input-label:has(input:focus)::after {
    top: 0;
    visibility: visible;
    padding: 0 var(--spacing);
    background-color: var(--background-color);
}

#submit {
    font-weight: 600;
    padding: var(--spacing);
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    margin-block: var(--spacing);
}

#submit:hover, #submit:focus {
    border-color: var(--text-color-normal);
}