:root{
    --login-hue: calc(155 - 75 + 180);

    --login-color: hsl(var(--login-hue), 100%, 70%);
    --login-accent-color: hsl(var(--login-hue), 100%, 60%);

    --color-error: hsl(0deg, 100%, 50%);
}

:root[data-theme='dark']{
    --login-color: hsl(calc(var(--login-hue) - 180), 100%, 50%);
    --login-accent-color: hsl(calc(var(--login-hue) - 180), 100%, 40%);
}


.wrapper{
    /*font-family: -apple-system, system-ui, sans-serif;*/
    width: 90%;
    max-width: 500px;
    margin: 20px auto;

    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 20px;
    /*box-sizing: border-box;*/
    /*background-color: lightblue;*/
}

.loginForm{
    /*position: relative;*/
    /*position: absolute;*/
    /*top: 20em;*/
    box-sizing: border-box;
    margin: calc(50vh - 200px) auto;
    max-width: 400px;
    /*height: 360px;*/

    border: var(--footer-background-color) solid 1pt;
    border-radius: 15px 15px 0 15px;
    padding: 2em;

    /*font-family: Calibri, sans-serif;*/
    background-color: var(--background-color-accent);
    display: flex;
    flex-direction: column;

}

.loginForm div{
    display: flex;
    justify-content: space-between;

}
.loginForm div a{
    /*border: solid black 1pt;*/
}

.loginForm h1{
    margin-top: 0;
    text-align: center;
}

.loginForm h2{
    margin: auto 0;
}

.loginForm input::placeholder{
    color: var(--text-color-light);
}
.loginForm input{
    padding: var(--spacing);
    color: var(--text-color-normal);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    /*border: solid black 1pt;*/
    border: 2px solid var(--background-color-accent);
    /*border: hidden;*/
    outline: none;
}

.loginForm a:nth-child(2){
    color: var(--login-color);

}

#submit {
    background-color: var(--login-color);
    border-radius: 5px;
    height: 3em;
}

#submit:hover, #submit:focus{
    background-color: var(--login-accent-color);
}

.error{
    color: var(--color-error);

}